__pycache__
api-failure-agent\agent\__init__.py
.env

# Prometheus binary (too large for GitHub - download from prometheus.io/download)
prometheus-3.11.3.windows-amd64/prometheus.exe
prometheus-3.11.3.windows-amd64/promtool.exe
prometheus-3.11.3.windows-amd64/data/
*.exe


api_agent.db
logs/
__pycache__/
*.pyc